/* main */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: sticky;
  top: 0;
  background: var(--lightblue-100);
  opacity: 0;
}

.main .wordContainer {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  filter: blur(15px);
  opacity: 0;
}

.main .wordWrap {
  position: relative;
  padding: 70px 0;
}

.main .words {
  display: flex;
  column-gap: 25px;
  justify-content: space-between;
}

.main .word img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}

.main .wordWrap .word-w {
  position: relative;
  aspect-ratio: 185/180;
  max-width: 185px;
}

.main .wordWrap .word-o {
  position: relative;
  aspect-ratio: 1;
  max-width: 180px;
}

.main .wordWrap .word-r {
  position: relative;
  aspect-ratio: 158 / 180;
  max-width: 158px;
}

.main .wordWrap .word-k {
  position: relative;
  aspect-ratio: 171 / 180;
  max-width: 171px;
}

.main .wordWrap .word-w:before,
.main .wordWrap .word-r:before,
.main .wordWrap .word-k:before {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 45px;
  aspect-ratio: 5 / 3;
  opacity: 1;
}

.main .wordWrap .word-w:before {
  background-image: url("/assets/images/home/hd-triangle1.svg");
  right: -13%;
  top: -5%;
  opacity: 0;
  transition: top .25s ease 0s, opacity .25s ease 0s;
}

.main .wordWrap .word-k:before {
  background-image: url("/assets/images/home/hd-triangle1.svg");
  right: 19.3%;
  top: -5%;
  opacity: 0;
  transition: top .25s ease 0s, opacity .25s ease 0s;
}

.main .wordWrap .word-r:before {
  background-image: url("/assets/images/home/hd-triangle2.svg");
  bottom: -5%;
  opacity: 0;
  transition: bottom .25s ease 0s, opacity .25s ease 0s;
}

.main .wordWrap .word-w.shown:before,
.main .wordWrap .word-k.shown:before {
  top: 0;
  opacity: 1;
}

.main .wordWrap .word-r.shown:before {
  bottom: 0;
  opacity: 1;
}

.main .word-caption {
  position: absolute;
  color: var(--darkblue-200);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.625rem;
}

.main .word-caption.top {
  top: 0;
  left: 13%;
}

.main .word-caption.bottom {
  bottom: 0;
  right: 15%;
}

.main .typewriter {
  padding: 30px 0 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.main .typewriter .word {
  position: relative;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  max-width: fit-content;
  width: 0;
  padding-right: 10px;
}

.main .typewriter .word.active {
  animation: typing 3.5s steps(40, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.main .typewriter .word::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  right: 0;
  bottom: 0;
  background-color: var(--orange-100);
  animation: blink 0.75s linear infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 991.98px) {

  .main .wordWrap .word-w {
    width: 26.5%;
  }

  .main .wordWrap .word-o {
    width: 26%;
  }

  .main .wordWrap .word-r {
    width: 23%;
  }

  .main .wordWrap .word-k {
    width: 25%;
  }

  .main .wordWrap .word-w:before,
  .main .wordWrap .word-r:before,
  .main .wordWrap .word-k:before {
    max-width: 30px;
  }

  .main .typewriter {
    padding: 20px 0 10px;
  }

  .main .typewriter .word {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 767.98px) {
  .main .wordWrap {
    padding: 40px 0;
  }

  .main .words {
    column-gap: 15px;
  }

  .main .word-caption.top {
    font-size: 2em;
  }

  .main .word-caption.bottom {
    font-size: 2em;
  }
}

/* section Project */
section.projects {
  min-height: 100vh;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 60px;
}

.project {
  width: calc(99% / 3);
  border-radius: 25px;
  padding: 0 30px;
  overflow: hidden;
}

.project .prjImage {
  border-radius: 25px;
  overflow: hidden;
}

.project .prjImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.project .prjContent {
  padding: 1.25em 1.5em;
}

.project .prjContent p {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.project .prjContent p:last-child {
  margin-bottom: 0;
}

.project .prjContent .prjTitle {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.357em;
}

.project .prjContent .small {
  font-weight: 300;
  font-size: 0.875em;
  line-height: 1;
  color: var(--darkblue-100);
}

.projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) {
  max-width: 1280px;
  width: 100%;
}

.projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) a {
  position: relative;
  display: flex;
  line-height: 0;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-start;
}

.projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent {
  position: absolute;
  margin-bottom: 10%;
  background-color: rgba(0, 0, 0, .65);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
}

.projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent .prjTitle {
  color: var(--lightblue-200);
  font-size: 1.778em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  order: 2
}

.projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent .small {
  color: var(--lightblue-200);
  font-size: 0.889em;
  font-weight: 300;
  margin-bottom: 0;
  order: 1;
}

.projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent .intro {
  color: var(--white);
  font-size: 1.444em;
  font-weight: 300;
  margin-bottom: 0;
  order: 3;
}

@media screen and (max-width: 991.98px) {

  .projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent {
    padding: 20px 30px;
    max-width: 300px;
  }

  .projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent .prjTitle {
    font-size: 1.333em;
  }

  .projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent .small {
    font-size: 0.778em;
  }

  .projectWrap .project:is(:nth-child(1), :nth-child(2), :nth-child(3)) .prjContent .intro {
    font-size: 1.111em;
  }
}





/* About Us */

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #552121;
  border-radius: 60px;
  z-index: 3;
}


/* Q&A */

.qna {
  border-radius: 60px;
  background-color: #f8f8f8;
  padding: 100px 0 0 0;
  bottom: -100px;
  z-index: 3;
}

.qna .h2 {
  font-size: 62px;
  color: var(--darkblue-100);
  font-weight: 700;
  line-height: 0.875;
}

.qna .text-special {
  color: var(--orange-100);
}

.qna .btn-viewall {
  justify-self: flex-end;
  margin-bottom: 100px;
}

.qna .map-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  top: 100px;
}

.qna .map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991.98px) {
  .qna .btn-viewall {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 767.98px) {}