.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header .loader {
  position: absolute;
  height: 3px;
  min-width: 430px;
  background-color: var(--lightblue-200);
  left: 0;
  top: 50%;
  opacity: 0;
  margin-top: 40px;
  /* width: 100%; */
  /* height: 100vh; */
  /* top: 0; */
}

.header .headerContainer {
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.22em;
  /* height: auto; */
  height: 100vh;
  transition: padding 0.25s ease 0s;
}

.header .headerTools {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
  padding-left: 12px;
}

.header .logoWrap {
  padding: 12px 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease 0s;
  opacity: 0;
}

.header.fixed .logoWrap {
  padding: 8px 0;
}

.showMenu .header .logoWrap {
  visibility: hidden;
  opacity: 0;
}

.header .logoWrap img {
  display: block;
  max-width: 350px;
  transition: all 0.25s ease 0s;
}

.header.fixed .logoWrap img {
  max-width: 250px;
}

.menuTrigger {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--darkblue-100);
  overflow: hidden;
  opacity: 0;
  z-index: 1001;
  transition: background-color 0.25s ease 0s;
}

.menuTrigger:is(:hover, .active, :active) {
  background-color: var(--orange-100);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menuTrigger span {
  position: absolute;
  display: block;
  height: 3px;
  width: 24px;
  font-size: 0;
  text-indent: 101%;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuTrigger span::before,
.menuTrigger span::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 24px;
  background-color: var(--white);
  transition: transform 0.25s ease 0s;
  top: -8px;
}

.menuTrigger span::after {
  top: 8px;
}

.menuTrigger.close span {
  background-color: transparent;
}

.menuTrigger.close span::before {
  top: 50%;
  transform: rotate(45deg);
}

.menuTrigger.close span::after {
  top: 50%;
  transform: rotate(-45deg);
}

.headerContainer .headerTools .btn,
.headerContainer .headerTools .menuContainerTrigger {
  opacity: 0;
  transform: translateY(0);
  will-change: opacity, transform;
}


@keyframes headerBtnFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobileNavWrap {
  position: fixed;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 0;
  opacity: 1;
  z-index: 999;
  display: none;
  transition: top 0.5s ease 0s;
  margin: 10px;
  
}

.mobileNavWrap.show {
  display: block;
}

.mobileNav {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 57, 150, 0.9);
  border-radius: 25px;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavWrap.show .mobileNav {
  clip-path: circle(150% at 100% 0%);
}

.mobileMenu {
  padding: 50px;
  transition: padding 0.3s ease 0s;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenu ul li {
  padding: 15px 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.mobileMenu ul li.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.mobileMenu ul li:before {
  content: none;
}

.mobileMenu ul li a {
  position: relative;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grey-100);
  transition: all 0.25s ease 0s;
}

.mobileMenu ul li a:is(:hover, .active, :active) {
  color: var(--orange-100);
}

.mobileMenu ul li a:is(:hover, .active, :active):before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 33"><defs><style>.cls-1{fill:%23fe822d;}</style></defs><path class="cls-1" d="M54.66,0H.34l27.18,32.67L54.66,0Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1199.98px) {
}
@media screen and (max-width: 991.98px) {
  .header .headerContainer {
    padding: 0 1.111em;
  }

  .header .logoWrap {
    padding: 8px 0;
    height: 70px;
  }

  .headerTools .menuTrigger,
  .headerTools .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50% !important;
  }

  .menuTrigger span,
  .menuTrigger span::before,
  .menuTrigger span::after {
    width: 20px;
  }

  .menuTrigger span::before {
    top: -6px;
  }

  .menuTrigger span::after {
    top: 6px;
  }

  .headerTools .btn.btn-icon {
    font-size: 0;
    overflow: hidden;
  }

  .headerTools .btn.btn-icon .icon {
    margin: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .mobileMenu ul li a {
    font-size: 2em;
  }
}

@media screen and (max-width: 575.98px) {
  .header .logoWrap img {
    max-width: 200px;
  }
  .header .logoWrap {
    height: 55px;
  }
}
