@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "./reset.css";
@import "./button.css";

:root {
  --blue-100: #30a4dc;
  --darkblue-100: #1f5eb3;
  --darkblue-200: #003996;
  --lightblue-100: #f3faff;
  --lightblue-200: #d6e9f8;
  --orange-100: #fe822d;
  --gary-100: #d7d7d7;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
}

body.no-scroll {
  overflow: hidden;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.bg {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: min(530px, 100%);
  height: 3px;
  background: var(--lightblue-100);
  opacity: 0;
  will-change: transform, height;
  animation: fadeIn 1.5s ease-in forwards, bg-animate 4s ease forwards 1.5s;
  animation-fill-mode: forwards
}

.bg.loaded {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  transition: top 0.1s ease-out, left 0.1s ease-out;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

@keyframes bg-animate {
  0% {
    width: min(600px, 100%);
    height: 3px;
  }

  50% {
    width: 100%;
    height: 3px;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  padding: 0 20px;
  max-width: 100%;
}

/* header */
.header .headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .logo {
  display: block;
  width: 100%;
  max-width: 350px;
  transition: max-width .25s ease 0s;
}

.header .logoImg {
  max-width: 350px;
  width: 100%;
}

.header .headerTools {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header .headerTools .btn {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  will-change: opacity, transform;
}

@keyframes headerBtnFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* 從上方 20px 處開始 */
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* 移到正常位置 */
    visibility: visible;
  }
}

/* main  */

main {
  background: var(--lightblue-100);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.indexMain {
  opacity: 0;
  visibility: hidden;
}

.indexMain.show {
  opacity: 1;
  visibility: visible;
}

.animateArea {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.animateArea .h2 {
  position: absolute;
  display: inline-block;
  color: var(--darkblue-100);
  font-size: 3.5em;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.animateArea .h2.text-our {
  transform: translateX(120px);
}

.animateArea .h2.text-speaks {
  transform: translateX(380px);
}

.animateArea .mainTitle {
  max-width: 100%;
  width: 100%;
}

/* Breakpoint Layout */

@media (max-width: 768px) {
  .header .logo {
    max-width: 200px;
  }

  .header .headerTools .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50% !important;
  }

  .btn-menu::before {
    width: 16px;
    height: 16px;
  }

  .btn-quote {
    font-size: 0;
  }

  .btn-quote .mail {
    width: 20px;
    height: 20px;
    margin: 0;
  }
}

@media (max-width: 480px) {}